.home-design {

    height: 90vh;
    width: 100vw;

    background-color: beige;

    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.polonez
{
    object-fit: contain;
    width: 80%;
    height:auto;
}