.allitems-design {

    height: 82vh;
    width: 100vw;

    background-color: red;

    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap:40px;
}
